header{
    background-color: #4a90e2;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    padding:20px;
    font-style: oblique;
    border: 2px dashed black;
    /* margin:20px; */
}
.card{
    padding:10px;
    margin:10px;
    border-radius: 10px;
    border:4px solid yellowgreen;
    background-color: rgb(7, 181, 181);
    text-decoration:wavy;
    text-align: center;
    font-style: oblique;
    font-size: medium;
}
h2{
    color: red;
}
.card{
     background-color:lightgray;
}
#profile{
     color:blue;
}
.box{
    width: 300px;
    height:300px;
    border:2px solid black;
    padding:10px;
    font-style: oblique;
    font-weight: 400;
}
.block{
    display: block;
    background-color: lightblue;
    padding: 10px;
    margin:10px;
}
.inline{
    display: inline;
    background-color: ;
}
ul{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px; 
    list-style: none;
}
li{
    border:3px solid black;
    padding:15px;
    border-radius: 10px;
}
li:hover{
        background-color: lightcoral;
        cursor: pointer;

}
.box{
    border:2px solid black;
    padding:50px;
    margin:20px;
    text-align: center;

}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
nav{
    background-color: lightblue;
    padding: 15px;
    margin:5px;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}
.intro{
    border:2px solid lightblue;
    padding:20px;
    margin:20px;
    border-radius: 10px;
    background-color: aliceblue;
    
}
.intro p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.projects{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.project-card{
     border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    width: 150px;
    text-align: center;

}
.project-card:hover{
    background-color: blueviolet;
    cursor: pointer;

}
.skills-list{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    list-style:none;
}

.skills-list li{
    border:2px solid black;
    padding:15px;
    border-radius:10px;
}

.skills-list li:hover{
    background-color:lightcoral;
    cursor:pointer;
}